body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

}

footer {
    padding-top: 1rem;
    text-align: center;
}

footer p {
    margin: 5px;
}

section {
    margin-top: 1rem;
    padding: 3rem;
    background-color: rgb(246, 246, 246);
    border-radius: 0.3rem;
    width: 70%;
}

#tabela {
    margin-top: 2rem;
}